# List

In [ ]:
l1 = [101,201,431,612]
l2 = ['anit', 'ashish']
l2 = [ 34, 'ashish']

In [ ]:
l1 = [101,201,431,612]
    #  0.  1.  2.  3
    # index always starts from zero

In [ ]:
#  get the elements based on its index

print(l1[0])
print(l1[3])

101
612

add elements

In [ ]:
# append helps us to add single element in same list : if multi then it creates inner DS

l1.append(333)
print(l1)

[101, 201, 431, 612, 333]

In [ ]:
l1.append([333, 555])
print(l1)

[101, 201, 431, 612, 333, [333, 555]]

In [ ]:
# extend helps us to add multi element in same list
l1.extend([333, 555])
print(l1)

[101, 201, 431, 612, 333, 555]

In [ ]:
# insert : it add element at the specific index
# insert(index, element)

l1.insert(2, 999)
print(l1)

[101, 201, 999, 431, 612, 333, 555]

In [ ]:
l1.insert(0, 999)
print(l1)

[999, 101, 201, 999, 431, 612, 333, 555]

In [ ]:
l1.insert(149, 999)
print(l1)

[999, 101, 201, 999, 431, 612, 333, 555, 999]

In [ ]:
# replace element on specific index
l1[0]= 1111

In [ ]:
print(l1)

[1111, 101, 201, 999, 431, 612, 333, [333, 555], 333, 555, 999, 999]

remove elements

In [ ]:
l1

[1111, 101, 201, 999, 431, 612, 333, [333, 555], 333, 555, 999, 999]

In [ ]:
l1.remove(431) # remove by value
print(l1)

[1111, 101, 201, 999, 612, 333, [333, 555], 333, 555, 999, 999]

In [ ]:
l1.remove(999)
print(l1)

[1111, 101, 201, 612, 333, [333, 555], 333, 555, 999, 999]

In [ ]:
l1.remove(999)
print(l1)

[1111, 101, 201, 612, 333, [333, 555], 333, 555, 999]

In [ ]:
l1.pop(5) # remove by index
print(l1)

[1111, 101, 201, 612, 333, 333, 555, 999]

In [ ]:
l1.clear() # it removes all elements but keep the data struct

In [ ]:
l1

[]

In [ ]:
del l1  # it deletes the ele as well as DS
print(l1)

NameError: name 'l1' is not defined

In [ ]:
print(l1)

[1111, 101, 201, 999, 431, 612, 333, 555, 999]

In [ ]:
l1.count(999)

2

In [ ]:
l1.sort()
print(l1)

[101, 201, 333, 431, 555, 612, 999, 999, 1111]

In [ ]:
l2 = l1.sort(reverse= True)
print(l1)
print(l2) # its NONE : sort() returns None, not a new list.

[1111, 999, 999, 612, 555, 431, 333, 201, 101]
None

In [ ]:
l1.sort(reverse= True)
print(l1)

[1111, 999, 999, 612, 555, 431, 333, 201, 101]

In [ ]:
l2 = sorted(l1) # if we want to store sort result in another list then we can use sorted
print(l2)

[101, 201, 333, 431, 555, 612, 999, 999, 1111]

In [ ]:
l2 = sorted(l1 ,reverse= True) # if we want to store sort result in another list then we can use sorted
print(l2)

[1111, 999, 999, 612, 555, 431, 333, 201, 101]

In [ ]:
print(max(l1))

1111

In [ ]:
print(min(l1))

101

In [ ]:
print(sum(l1))

5342

In [ ]:
# remove duplicates

s1 = list(set(l1))
print(type(s1))
print(s1)

<class 'list'>
[612, 101, 999, 201, 555, 333, 431, 1111]

In [ ]:
# debug :

s1 = set(l1)
print(type(s1))
print(s1)

l2 = list(s1)
print(type(l2))
print(l2)

<class 'set'>
{612, 101, 999, 201, 555, 333, 431, 1111}
<class 'list'>
[612, 101, 999, 201, 555, 333, 431, 1111]

In [ ]:
l1

[1111, 999, 999, 612, 555, 431, 333, 201, 101]

In [ ]:
l1.reverse()
print(l1)

[101, 201, 333, 431, 555, 612, 999, 999, 1111]

# Tuple

In [ ]:
t1 = (102,344,123,124,451,456, 887,334,123,123)
print(t1)
print(type(t1))

(102, 344, 123, 124, 451, 456, 887, 334, 123, 123)
<class 'tuple'>

In [ ]:
t1.append(1) # we cant alter tuple after declaration

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
t1.extend((1,2,3))

AttributeError: 'tuple' object has no attribute 'extend'

In [ ]:
t1.remove((1,2,3))

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
t1[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(t1.count(123))

3

In [ ]:
print(len(t1))

10

In [ ]:
max(t1)

887

In [ ]:
min(t1)

102

In [ ]:
# try all other operations from list

In [ ]:
t1 = (102,344,123,124,451,456, 887,334,123,123)

for i in  t1: # i == 102, 344
  print(i)

102
344
123
124
451
456
887
334
123
123

In [ ]:
#   51
# 2)---
#   102
#   -10
#   ----
#   2
#   -2
#   ---
#   0

In [ ]:
t1 = (102,344,123,124,451,456, 887,334,123,123)

for i in  t1:
  print(f'current iterating element : {i}')

  if i % 2 == 0:
    print('even')
  else:
    print('odd')

current iterating element : 102
even
current iterating element : 344
even
current iterating element : 123
odd
current iterating element : 124
even
current iterating element : 451
odd
current iterating element : 456
even
current iterating element : 887
odd
current iterating element : 334
even
current iterating element : 123
odd
current iterating element : 123
odd

In [ ]:
del t1

In [ ]:
t1

NameError: name 't1' is not defined

# Set

In [ ]:
s1 = {102,344,123,124,451,456, 887}
print(s1)
print(type(s1))

{451, 344, 102, 887, 456, 123, 124}
<class 'set'>

In [ ]:
s2 = {102,344,123,124,451,456, 887,887, 877,877,877,877}
print(s2)

{451, 102, 456, 877, 887, 344, 123, 124}

In [ ]:
s1.add(999)
s1

{102, 123, 124, 344, 451, 456, 887, 999}

In [ ]:
s1.update([222,3333,555,3222])
s1

{102, 123, 124, 222, 344, 451, 456, 555, 887, 999, 3222, 3333}

In [ ]:
s1.remove(222)
s1

{102, 123, 124, 344, 451, 456, 555, 887, 999, 3222, 3333}

In [ ]:
s1.remove(8888888)

KeyError: 8888888

In [ ]:
s1.discard(88888888)  # Removes 8888888, does nothing if 88888888 not in set

In [ ]:
s1.pop(2)

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
s1 = {1,2,3}
s2 = {3,2,5}

unique_ele = s2.union(s1)
print(unique_ele)


unique_ele = s2 | s1
print(unique_ele)

{1, 2, 3, 5}
{1, 2, 3, 5}

In [ ]:
s1 = {1,2,3}
s2 = {3,2,5}

common_ele = s2.intersection(s1)
print(common_ele)


common_ele = s2 & s1
print(common_ele)

{2, 3}
{2, 3}

In [ ]:
s1 = {1,2,3}
s2 = {3,2,5}

ele = s2.symmetric_difference(s1)
print(ele)

ele = s2 ^ s1
print(ele)

{1, 5}
{1, 5}

In [ ]:
s2 = {102,344,123,124,451,456, 887,887, 877,877,877,877}
print(s2)

{451, 102, 456, 877, 887, 344, 123, 124}

In [ ]:
for i in s2 :
  print(i)
  if i % 2 == 0:
    print('even')
  else:
    print('odd')

451
odd
102
even
456
even
877
odd
887
odd
344
even
123
odd
124
even

# Dict

In [ ]:
dict_student_details = {'Name': 'sumit',
                        'age': 24,
                        'edu': 'B.Tech',
                        'loc': 'Pune'
                        }
dict_student_details

{'Name': 'sumit', 'age': 24, 'edu': 'B.Tech', 'loc': 'Pune'}

In [ ]:
dict_student_details.keys()

dict_keys(['Name', 'age', 'edu', 'loc'])

In [ ]:
dict_student_details.values()

dict_values(['sumit', 24, 'B.Tech', 'Pune'])

In [ ]:
dict_student_details.items()

dict_items([('Name', 'sumit'), ('age', 24), ('edu', 'B.Tech'), ('loc', 'Pune')])

In [ ]:
dict_student_details['Name']

'sumit'

In [ ]:
dict_student_details.get('age')

24

In [ ]:
dict_student_details['Name'] = 'sameer'
dict_student_details['age'] = 102
dict_student_details

{'Name': 'sameer', 'age': 102, 'edu': 'B.Tech', 'loc': 'Pune'}

In [ ]:
del dict_student_details['loc']
dict_student_details

{'Name': 'sameer', 'age': 102, 'edu': 'B.Tech'}

In [ ]:
dict_student_details.pop('edu')
dict_student_details

{'Name': 'sameer', 'age': 102}

In [ ]:
dict_student_details.popitem()
dict_student_details

{'Name': 'sameer'}

In [ ]:
dict_student_details.popitem()
dict_student_details

{}

In [ ]:
dict_student_details.clear()

In [ ]:
dict =                 {'Name': 'sumit',
                        'age': 24,
                        'edu': 'B.Tech',
                        'loc': 'Pune'
                        }
dict

{'Name': 'sumit', 'age': 24, 'edu': 'B.Tech', 'loc': 'Pune'}

In [ ]:
for i in dict.items():
  print(i)

('Name', 'sumit')
('age', 24)
('edu', 'B.Tech')
('loc', 'Pune')

In [ ]:
for key , value in dict.items():
  print('key:', key)
  print('value',value)

key: Name
value sumit
key: age
value 24
key: edu
value B.Tech
key: loc
value Pune

In [ ]:
for key  in dict.keys():
  print('key:', key)

key: Name
key: age
key: edu
key: loc

In [ ]:
for bugspotter  in dict.values():  # we can use any name to iterating element
  print('values:', bugspotter)

values: sumit
values: 24
values: B.Tech
values: Pune

In [ ]:
# dict =                 {'Name': 'sumit',
#                         'age': 24,
#                         'edu': 'B.Tech',
#                         'loc': 'Pune'
#                         }

In [ ]:
for key , value in dict.items():

  print(f'iterating key:{key} & value: {value}')

  if (key == 'age' and value >= 20) or (key == 'loc' and value == 'Pune'):

      print('applicable for addmition')

  else:

     print('not applicable')

iterating key:Name & value: sumit
not applicable
iterating key:age & value: 24
applicable for addmition
iterating key:edu & value: B.Tech
not applicable
iterating key:loc & value: Pune
applicable for addmition

In [ ]:
# Q. if key is age then print as considered

In [ ]:
# Q. if value is 24 then print as age considered

In [ ]:
dict = {'name' :['ashish', 'sameer', 'lokesh', 'sagar'],
        'age' : [ 91 ,71,81,21 ],
        'edu':  ['B.E', 'M.TECH', 'BCA', 'MBA']}

In [ ]:
dict.keys()

dict_keys(['name', 'age', 'edu'])

In [ ]:
dict.values()

dict_values([['ashish', 'sameer', 'lokesh', 'sagar'], [91, 71, 81, 21], ['B.E', 'M.TECH', 'BCA', 'MBA']])

In [ ]:
dict['name'].append('riya')
dict

{'name': ['ashish', 'sameer', 'lokesh', 'sagar', 'riya'],
 'age': [91, 71, 81, 21],
 'edu': ['B.E', 'M.TECH', 'BCA', 'MBA']}

In [ ]:
dict['name'].extend(['sujit', 'amar'])
dict

{'name': ['ashish', 'sameer', 'lokesh', 'sagar', 'riya', 'sujit', 'amar'],
 'age': [91, 71, 81, 21],
 'edu': ['B.E', 'M.TECH', 'BCA', 'MBA']}

In [ ]:
dict['age'].insert(0,21)
dict

{'name': ['ashish', 'sameer', 'lokesh', 'sagar', 'riya', 'sujit', 'amar'],
 'age': [21, 91, 71, 81, 21],
 'edu': ['B.E', 'M.TECH', 'BCA', 'MBA']}

In [ ]:
dict['edu'] = 'BA'

In [ ]:
dict

{'name': ['ashish', 'sameer', 'lokesh', 'sagar', 'riya', 'sujit', 'amar'],
 'age': [21, 91, 71, 81, 21],
 'edu': 'BA'}

In [ ]:
dict

In [ ]:
dict['edu'] = ['B.E', 'M.TECH', 'BCA', 'MBA']
dict

{'name': ['ashish', 'sameer', 'lokesh', 'sagar', 'riya', 'sujit', 'amar'],
 'age': [21, 91, 71, 81, 21],
 'edu': ['B.E', 'M.TECH', 'BCA', 'MBA']}

In [ ]:
dict['edu'][0] = 'B.A'
dict

{'name': ['ashish', 'sameer', 'lokesh', 'sagar', 'riya', 'sujit', 'amar'],
 'age': [21, 91, 71, 81, 21],
 'edu': ['B.A', 'M.TECH', 'BCA', 'MBA']}

In [ ]:
dict['edu'][3] = 'B.E'
dict

{'name': ['ashish', 'sameer', 'lokesh', 'sagar', 'riya', 'sujit', 'amar'],
 'age': [21, 91, 71, 81, 21],
 'edu': ['B.A', 'M.TECH', 'BCA', 'B.E']}

# String

In [ ]:
str = 'Hello'
# or
str = "Hello"
str

'Hello'

In [ ]:
len(str)

5

In [ ]:
str.upper()

'HELLO'

In [ ]:
str.lower()

'hello'

In [ ]:
str = '  hello python '
str = str.strip()
str

'hello python'

In [ ]:
str.replace(' ','-')

'hello-python'

In [ ]:
str = 'hello-python'
str2 = str.replace('-','')
print(str2)

hellopython

In [ ]:
str

'hello-python'

In [ ]:
str.find('l')  # it gives us the first occurance index

2

In [ ]:
str.startswith('aditya')

False

In [ ]:
str.startswith('he')

True

In [ ]:
str.endswith('on')

True

In [ ]:
str  = 'hello'
l1 = str.split('')
l1

ValueError: empty separator

with a separator when you want to break a string into parts based on a specific character or substring  not individual characters.

In [ ]:
str  = 'hello my name is python '
l1 = list(str)
l1

['h',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'm',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ']

In [ ]:
str  = 'hello my name is python '
l1 = str.split(' ')
print(type(l1))
print(l1)

<class 'list'>
['hello', 'my', 'name', 'is', 'python', '']

In [ ]:
str_2 = '-'.join(l1)
print(type(str_2))
print(str_2)

<class 'str'>
hello-my-name-is-python-

In [ ]:
str = 'hello-python'

check = list() # h e l
print(type(check))
print(check)


for i in str :# h e l l
  print('iterating ele:', i)
  if i not in check:
    check.append(i)
  else:
    print(f'{i}:its a repeating element')

print(check)

<class 'list'>
[]
iterating ele: h
iterating ele: e
iterating ele: l
iterating ele: l
l:its a repeating element
iterating ele: o
iterating ele: -
iterating ele: p
iterating ele: y
iterating ele: t
iterating ele: h
h:its a repeating element
iterating ele: o
o:its a repeating element
iterating ele: n
['h', 'e', 'l', 'o', '-', 'p', 'y', 't', 'n']

In [ ]:
# reverse the str : str = 'hello'

In [ ]:
s = 'hello'
s1 = '' # eh -> leh

for i in s : # h e l l o
  s1 = i+s1 # eh --> l +eh --> l+leh--> o+lleh --->olleh

print(s1)

olleh

In [ ]:
# slicing

In [ ]:
s = 'Hello_python'

# [start: stop: step ]

In [ ]:
print(s[0:3])

Hel

In [ ]:
print(s[4:])

o_python

In [ ]:
print(s[:4])

Hell

In [ ]:
print(s[0:5:2])

Hlo

In [ ]:
s

'Hello_python'

In [ ]:
print(s[10:1:1])

In [ ]:
# -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10 ---> 1

In [ ]:
print(s[10:1:-1])

ohtyp_oll

In [ ]:
print(s[::-1])

nohtyp_olleH

# Interview Questions

In [ ]:
str = "remove all spaces from  string "
str2 = ''

for i in str : # r e

  if i != ' ':
    str2 = str2+ i # r --> r+ e --> re -> rem --> remo


print(str2)

removeallspacesfromstring

In [ ]:

# add - instead of space
str = "remove all spaces from  string "
str2 = ''
rep = '-'


# replace(str,' ','-') : we can easily use replace but its a inbuit function so we cant use this in interview

for i in str : # r e
  if i == ' ':
    str2 = str2 + rep  # remove + '-' --> remove-
  else:
    str2 = str2 + i # remove .....>


print(str2)

# or
# replace

remove all spaces from  string

In [ ]:
# count the repeating elements

str = 'hhhannnnshes'
# h : 4 a : 1 n :3

ele_count = {}

for i in str : # h h h a n
  if i in ele_count:
    ele_count[i] += 1 #{h :3} --> {h: 3 , a:1,n :4 }
  else:
    ele_count[i] = 1 # {h: 3 , a:1,n :1 }


ele_count

{'h': 4, 'a': 1, 'n': 4, 's': 2, 'e': 1}

In [ ]:
str = 'hello python'

count = 0

for i in str :
  if i in 'aeiou':
    count += 1
    # count = count + 1

print(count)

# also get count of consonents

3

list

In [ ]:
# reverse a list
l1  = [1,3,5,7,1,3,6]

print(l1[::-1])


l2 = []

# or

for i in l1 : # 1 3 5 ....
  l2.insert(0,i) # 531

print(l2)

[6, 3, 1, 7, 5, 3, 1]
[6, 3, 1, 7, 5, 3, 1]

In [ ]:
l1 = [1,3,4,5]
print(type(l1))

t1 = tuple(l1)
print(type(t1))

#  try other coversions

<class 'list'>
<class 'tuple'>

In [ ]:
# count of each element
l1 = [34,34,51,21,21,21,41,21]

In [ ]:
# find max min  second max and second min

l1 = [34,34,51,21,21,21,41,21]

max = l1[0] # 34--> 51
min = l1[0] # 34 --> 21

for i in l1 :  # 34 34 51 21 21 21 41 21

  if i > max:
    max = i

  if i < min:
    min = i

print(max)
print(min)

51
21

In [ ]:
# find max min  second max and second min

# l1 = [34,34,51,21,21,21,41,21]
l1 = [21,1,4,50,12]

max = l1[0] # 34
min = l1[0] # 34
second_max = l1[0] # 34
second_min = l1[0] # 34


for i in l1 :  # 34  34  51  21 21 21  41 21

  if i > max:  #: 34 > 34 : 51 > 34 : 41 > 51
    second_max = max  #: 34 -> 34
    max = i #: 34 -> 54
  elif i > second_max and i!= max :  #  41 > 34 and 41!= 54--> T
    second_max = i # 34 -> 41





print(max)
print(second_max)

51
41

In [ ]:
# find max min  second max and second min


l1 = [21,1,4,50,100,12]

max = l1[0] # 21
min = l1[0] #21
# second_max = l1[0]
# second_min = l1[0]


for i in l1 : # 21

  if i > max:  #: 21 > 21 : 1 > 21. 50 > 21  : 100> 50 :
    second_max = max  #: 21 --> 21 --> 21--->50
    max = i # 21--> 50---> 100
  elif i > second_max and i!= max :  # 21> 21 and 21!= 21 :  1> 21 :
    second_max = i #





print(max)
print(second_max)

100
50

In [ ]:
# find max min  second max and second min


l1 = [21,1,4,50,100,12]


min = l1[0] # 21
second_min = l1[0]  # 21


for i in l1 : # 21

  if i < min:  # 21 < 21  : 1 < 21 : 4< 1
    second_min = min  #21 --> 21
    min = i  # 21 --> 1
  elif i < second_min and i!= min : # 21 > 21  : 4 > 21 and 4 != 1
    second_min = i #21 ---> 4

print(min)
print(second_min)

1
4

In [ ]:
# use the same questions for tuple
# dict : refer the dict  questions  & same for set
# Q . count of each element in dict  with keys and values

In [ ]:
# 5 --> 5*4*3*2*1

num = int(input('Eneter a num:'))

fact = 1 # 5

while num > 0:  # 5> 0  : 4 > 0 : 3 >0 2>0  1> 0  0> 0

  fact = fact * num  # 5* 1--> 5 --> 5 * 4-->20 * 3 --> 60 * 2 --> 120 *1 --> 120
  num = num - 1 # 5 - 1 --> 4 -1 --> 3 -1 --> 2 -1 --> 1 -1 --> 0


print(fact)

Eneter a num:5
120

In [ ]:
l1 = [1 , 2, [1 , [ 3 , 4 ], 6 ], 0]

#    |------------------------------|
    # 0   1          2            3

#           |------------------|
#             0       1       2

#                 |----|
#                  0   1

In [ ]:
l1[1]

2

In [ ]:
l1[2][0]

1

In [ ]:
l1[2][1][0]

3

In [ ]:
# prime num  : take input from user  check whether this num is prime or not
# num devide by 1 or itself : hint -> range()

In [ ]:
import copy

# copy

# shallow copy

l1 = [[1,2,3], [4,5,6]]

shallow_cpy_list = copy.copy(l1)

print(shallow_cpy_list)
print(l1)
print('--------')

shallow_cpy_list[0][0] = 100
print(shallow_cpy_list)
print(l1)

[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]]
--------
[[100, 2, 3], [4, 5, 6]]
[[100, 2, 3], [4, 5, 6]]

In [ ]:
l1 = [[1,2,3], [4,5,6]]

shallow_cpy_list = copy.copy(l1)
shallow_cpy_list.insert(1,2)

print(shallow_cpy_list)
print(l1)

# it wont work while insert , append extend

[[1, 2, 3], 2, [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]]

In [ ]:
# deep copy

l1 = [[1,2,3], [4,5,6]]

deep_list = copy.deepcopy(l1)

print(deep_list)
print(l1)
print('--------')

deep_list[0][0] = 100
print(deep_list)
print(l1)

[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]]
--------
[[100, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]]